flask==3.0.3
flask-cors==5.0.0
boto3==1.35.56
pdfplumber==0.11.4
python-dotenv==1.0.1
numpy==1.25.0
torch==2.2.0
openai-whisper==20240930
pathlib==1.0.1
scikit-learn==1.5.2
spacy==3.7.2
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl
nltk==3.8.1
pydub==0.25.1
pinecone-client==3.0.2
openai==1.12.0